*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/codeStyles
/.idea/inspectionProfiles
/build
/app/build
.externalNativeBuild
.cxx
/captures
.DS_Store
Thumbs.db
*.jks
*.keystore
*.key
*.pem
*.apk
*.aab